/* Boutons */
.btn, .btn-primary {
  display: inline-block;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-family: var(--font-body);
  transition: background 0.2s;
}

.btn:hover, .btn-primary:hover {
  background-color: #008c52; 
  color: #fff;
}
