/* Footer plein écran */
.site-footer {
  width: 100%;
  height: 61px;
  background-color: var(--color-footer);
  display: flex;
  justify-content: center;
}

/* Container interne limité à 1140px */
.footer-container {
  width: 100%;
  display: flex;
  justify-content: right; 
  padding: 0 3rem;
}

/* Liens */
.footer-links {
  display: flex;
  align-items: center;
  gap: 45px; 
}

.footer-links a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}

.footer-links a:hover {
  color: var(--color-title);
}

/* Logo */
.footer-logo img {
  width: auto;
  display: block;
}
