/* Header plein écran */
.site-header {
  width: 100%;
  height: 80px;
  background-color: var(--color-menu);
  display: flex;
  justify-content: center; /* centre le container interne */
}

/* Container interne limité à 1140px */
.header-container {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  display: flex;
  justify-content: space-between; /* logo à gauche / nav à droite */
  align-items: center;
  padding: 0 1rem;
}

/* Bloc gauche */
.left-block {
  display: flex;
  align-items: center;
  gap: 6rem;
}

/* Logo */
.logo {
  background-image: url("/assets/img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 155px;
  height: 51px;
}

/* Navigation */
.main-nav ul{
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.user-nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  margin: 0;
  padding: 0;
}

header nav a {
  color: var(--color-text);
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 14px;
}

header nav a:hover {
  color: var(--color-title);
  font-weight: lighter;
}
