:root {
  --color-primary: #00AC66;
  --color-primary-hover: #006D41;
  --color-title: #000000;
  --color-text: #292929;
  --color-min: #A6A6A6;
  --color-menu: #F5F3EF;
  --color-footer: #FFFFFF;
  --color-background: #FAF9F7;
  --color-input-background: #EDF2F6;
  --color-input-border: #F0F0F0;
  --font-title: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
  --color-red: #CB2D2D;
  --color-block-background: #FFFFFF;
}

/* Reset simple */
body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1; /* prend tout l’espace disponible */
}

/* Titres */
h1, h2, h3 {
  color: var(--color-title);
  font-family: var(--font-title);
}

.active {
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
