
/* account */

.account-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1140px;
  padding: 2rem;
  background: var(--color-background);
}

.account-title {
  font-size: 26px;
  font-weight: 400;
}

.account-container {
  display: flex;
  gap: 2rem;
}

.account-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--color-block-background);
  padding: 2rem;
  border-radius: 20px;
}

.account-left {
  width: 136px;
}

/* Bloc 1 : photo + lien */ 

.account-top { 
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.account-profile-pic {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
}

.account-edit-link {
  color: var(--color-min);
  text-decoration: underline;
  font-size: 14px;
  margin-bottom: 1rem;
  display: inline-block;
}

/* Bloc 2 : infos */ 
.account-info { 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  margin-top: 50px;
}

.account-username {
  font-size: 24px;
  margin-bottom: 1rem;
  font-family: var(--font-title);
  color: var(--color-text);
}

.account-member-since {
  font-size: 14px;
  color: var(--color-min);
  margin-bottom: 1.5rem;
}

.account-section-title {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 600;
}
.account-info p {
  font-size: 14px;
  margin: 0.3rem 0; 
}

/* Formulaire */

.account-right{
    width: 100%;
  }

.account-form-title {
  font-size: 16px;
  margin-bottom: 1rem;
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* important pour éviter le centrage */
  margin: auto;
}


.account-form label {
  display: block;
  font-size: 14px;
  color: var(--color-min);
  margin-top: 1rem;
  font-weight: bold;
}
.account-form input {
  width: 322px;
  height: 50px;
  margin-top: 0.3rem;
  background-color: var(--color-input-background);
  border: 1px solid var( --color-input-border);
  border-radius: 6px;
}

.account-form button {
  width: 150px; 
  height: 63px;
  margin-top: 1.5rem;
  background: var(--color-menu);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}

/* Tableau bibliothèque */
.account-block-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-block-background);
  border-radius: 20px;
  margin-top: 35px;
  overflow: hidden;
}


.account-table {
  width: 1140px;
  border-collapse: collapse;
  margin-top: 2rem;
  table-layout: fixed;
}
.account-table th, .account-table td {
  padding: 0.8rem;
  text-align: left;
}

.account-table td:first-child,
.account-table th:first-child {
  padding-left: 40px;
}

.account-table td {
  font-size: 12px;
  color: var(--color-text);
}

.account-table th {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 600;
  color: var(--color-text);
}
.account-table tr:nth-child(even) {
  background: var(--color-input-background);
}

.account-table td:nth-child(4) {
  font-style: italic;
}

.account-book-pic {
  width: 78px;
  height: 100px;
}
.account-status {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}
.account-available {
  background: #e0f7e9;
  color: #2e7d32;
  border: 1px solid #2e7d32;
  border-radius: 20px;
}
.account-unavailable {
  background: #fde0e0;
  color: #c62828;
  border: 1px solid #c62828;
  border-radius: 20px;
}
.account-action-links .edit {
  margin-right: 1rem;
  text-decoration: underline;
  color: var(--color-text);
  font-size: 12px;
}
.account-action-links .supprimer {
  margin-right: 1rem;
  text-decoration: underline;
  color: var(--color-red);
  font-size: 12px;
}