
/* Livres à  */
.page-container {
  max-width: 1440px;       /* limite la largeur max */
  width: 100%;  
  margin: 120px auto 0 auto;
  background-color: var(--color-background);
  padding-bottom: 5rem;
}

/* Header de la page */
.page-header-content {
  display: flex;
  justify-content: space-between; /* titre à gauche, search à droite */
  align-items: center;
  width: calc(200px * 4 + 40px * 3); /* largeur des 4 cards + 3 gaps */
  margin: 0 auto 4rem auto; /* centré comme la grille */
}

/* Titre */
.page-header-content h1 {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}

.search-bar {
  position: relative;
  width: 322px;
  height: 50px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  font-family: var(--font-body);
}

.search-bar input::placeholder {
  color: var(--color-min); /* ou une autre couleur */
  padding-left: 40px;
}


.search-bar .search-btn {
  position: absolute;
  left: 5px;
  top: 55%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px; /* taille de la loupe */
  color: var(--color-primary);
}

.search-icon {
    width: 16px;
    height: auto;
}

.no-results {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
}


/* Grille des livres */
.books-grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 50px 40px;
  width: fit-content; 
  margin: 0 auto;
}

/* Carte livre */
.book-card {
  width: 200px;
  height: auto; /* hauteur auto pour s’adapter au contenu */
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Image au-dessus du texte */
.book-card img.book-cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px; /* espace entre image et texte */
}

/* Texte */
.book-title {
  font-size: 16px;
  font-family: var(--font-title);
  margin-left: 15px;
  text-align: left;
  margin-bottom: 10px;
}

.book-author {
  font-size: 14px;
  color: var(--color-min);
  margin-left: 15px;
  margin-top: 0;
  text-align: left;
}

.book-seller {
  font-size: 10px;
  font-style: italic;
  color: var(--color-min);
  margin-left: 15px;
  text-align: left;
  margin-bottom: 25px;
}
