/* Page de connexion / inscription */
.auth-container {
    display: flex;
    margin: 0 auto;
}

.auth-left, 
.auth-right {
    flex: 1;
    padding: 0 3rem;
}

.auth-left {
    background-color: #f9f9f9;
}

.auth-left h1 {
    margin-top: 210px;
    margin-bottom: 4rem;
    font-weight: 400;
    font-size: 36px;
    color: var(--color-title);
}

/* Formulaire */
.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
    color: var(--color-min);
    font-size: 14px;
}

.form-group input {
    width: 322px;
    height: 50px;
    border: none;
}

/* Bouton CTA */
.cta {
    width: 322px;
    height: 63px;
    margin-top: 40px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: none;
    cursor: pointer;
}

/* Liens sous le formulaire */
.auth-register,
.switch-auth {
    margin-top: 2rem;
    font-size: 14px;
    color: var(--color-text);
}

/* Liens cliquables */
.auth-register a,
.switch-auth-link {
    color: var(--color-text);
    font-weight: 500;
    transition: color .2s ease;
}

