
/* Page d'édition de livre */
.edit-body {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.edit-back { 
  display: inline-block; 
  font-size: 14px; 
  color: var(--color-min); 
  text-decoration: none; 
  margin-bottom: 1rem; 
  margin-top: 40px;
} 

.edit-back:hover { 
  text-decoration: underline; 
}

.edit-title {
  font-size: 26px;
  color: var(--color-title);
  font-weight: 400;
  font-family: var(--font-title);
  margin-bottom: 20px;
}
.edit-container {
  display: flex;
  justify-content: space-between;
  background: var(--color-block-background);
  border-radius: 20px;
  padding: 30px;
}

.edit-block {
  padding: 20px;
}

.edit-block p {
  font-size: 14px; 
  color: var(--color-min); 
}

.edit-left {
  width: 488px;
}

.edit-cover-detail {
  width: 100%;
  border-radius: 6px;
}

.edit-book-pic {
  max-width: 100%;
}

.edit-photo-link {
  margin-top: 1rem;
  font-size: 14px;
  color: var(--color-min);
  text-decoration: underline;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.edit-form label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: var( --color-min);
}

.edit-form input,
.edit-form textarea,
.edit-form select {
  width: 435px;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  background-color: var(--color-input-background);
  border: 1px solid var( --color-input-border);
  border-radius: 6px;
}

.edit-form textarea {
  min-height: 100px;
}

.edit-form { 
  display: flex; 
  flex-direction: column; 
  height: 100%; 
}

.edit-submit {
  align-self: auto;
  width: 322px;
  height: 63px;
  margin-top: auto;
  display: flex; 
  justify-content: center; 
  align-items: center;
  border: none;
  margin-top: 40px;
}


