

/* messagerie */
.messagerie-container {
  display: flex;
  gap: 20px;
  width: 1140px;
  margin: 0 auto;
  background: var(--color-menu);
}


/* Bloc gauche */
.messagerie-left {
  width: 30%;
  background: var(--color-background);
}

.messagerie-left h2 {
  font-size: 26px;
  font-weight: 400;
  margin-top: 80px;
  margin-left: 30px;
}

.conversation-card {
  display: flex;
  align-items: center;
  background: var(--color-block-background);
  cursor: pointer;
  padding: 30px 20px;
}

.conversation-card:hover {
  background: #f9f9f9;
}

.conversation-photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.conversation-info {
  margin-left: 15px;
}

.conversation-header {
  color: var(--color-text);
}

.conversation-date {
  font-size: 12px;
  color: var(--color-text);
}

.conversation-preview {
  color: var(--color-min);
  font-size: 12px;
}

/* Bloc droit */
.messagerie-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  background: var( --color-menu);
  margin-left: 30px;
}

.discussion-thread {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 15px;
}

.discussion-message {
  max-width: 500px;
  height: 37px;
  border-radius: 6px;
}

.discussion-message.sent {
  background: var(--color-input-background);
  color: var(--color-text);
  font-size: 12px;
  margin-left: auto;
  padding-left: 20px;
}

.discussion-message.received {
  background: var(--color-block-background);
  color: var(--color-text);
  margin-right: auto;
}

.discussion-date {
  display: block;
  font-size: 0.8em;
  color: #666;
  margin-top: 5px;
}

.discussion-form {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.discussion-form textarea {
  flex: 1;
  border-radius: 6px;
  border: none;
}

.discussion-form button {
  width: 132px;
  height: 49px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.discussion-form button:hover {
  background: var(--color-primary);
}


/* Mobile */
@media (max-width: 768px) {
  .messagerie-container {
    flex-direction: column;
  }
  .messagerie-left, .messagerie-right {
    width: 100%;
  }
}