
/* Page profil */
.profil-main {
  margin: auto;
  width: 100%;
  max-width: 1140px;
  padding: 2rem;
  background: var(--color-background);
}

/* Conteneur principal */

.profil-container {
  display: flex;
  gap: 2rem;
}

/* Blocs génériques */
.profil-block {
  display: flex;
  flex-direction: column;
  background: var(--color-block-background);
  border-radius: 20px;
}

/* Bloc gauche (profil) */
.profil-left {
  align-items: center; 
  width: 341px;
  height: 579px;
}

.profil-info { 
  display: flex; 
  flex-direction: column; 
  width: 135px;
  height: 367px;
  margin-top: auto;
}

.profil-photo {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
}

.profil-details {
  text-align: center;
  margin-top: auto;
}

.profil-username {
  font-size: 24px;
  margin-bottom: 1rem;
  font-family: var(--font-title);
  color: var(--color-text);
}

.profil-member-since {
  font-size: 14px;
  color: var(--color-min);
  margin-bottom: 1.5rem;
}

.profil-section-title {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 600;
}
.profil-info p {
  font-size: 14px;
  margin: 0.3rem 0; 
}

.profil-cta {
  width: 215px; 
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-decoration: none;
  margin-top: 1.5rem;
  background: var(--color-menu);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
}

.profil-cta:hover {
  background-color: #008c52; 
  color: #fff;
}

/* Bloc droit (tableau des livres) */
.profil-right {
  width: 771px;
}

.profil-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  table-layout: fixed;
}

.profil-table th,
.profil-table td {
  padding: 12px;
  text-align: left;
  word-wrap: break-word; /* évite les débordements */ 
  overflow-wrap: break-word; /* coupe proprement */
}

.profil-table td:first-child,
.profil-table th:first-child {
  padding-left: 40px;
}

.profil-table td:last-child,
.profil-table th:last-child {
  padding-right: 40px;  
}

.profil-table td {
  font-size: 12px;
  color: var(--color-text);
}

.profil-table th {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 600;
  color: var(--color-text);
  border-bottom: 2px solid var(--color-background);;
}

.profil-table td:nth-child(4) {
  font-style: italic;
}

.profil-table tr {
  cursor: pointer;
}

.profil-table tr:nth-child(even) {
  background: var(--color-input-background);
}
.profil-book-pic {
  width: 78px;
  height: auto;
}